<div class="container-fluid m-5 animated fadeIn fast">
    <h1>{{titulo}}</h1>
    <hr>
</div>

<div class="row m-5 animated fadeIn">
    <!-- seccion izquiera -->
    <div class="col-sm-6">
        <div class="row">

            <div class="col-md-12 div-pic-1 puntero" [routerLink]="['/datospelicula',peliculas[0].id]" [ngStyle]="{ 'background-image': 'url( ' + ( peliculas[0] | imgmdb )+ ')'  }"></div>

        </div>
        <div class="row">
            <div class="col-sm-6 div-pic-2 puntero" [routerLink]="['/datospelicula',peliculas[1].id]" [ngStyle]="{ 'background-image': 'url( ' + ( peliculas[1] | imgmdb )+ ')'  }">
            </div>
            <div class="col-sm-6 div-pic-2 puntero" [routerLink]="['/datospelicula',peliculas[2].id]" [ngStyle]="{ 'background-image': 'url( ' + ( peliculas[2] | imgmdb )+ ')'  }">
            </div>
        </div>


    </div>
    <!-- seccion derecha -->

    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6 div-pic-2 puntero" [routerLink]="['/datospelicula',peliculas[3].id]" [ngStyle]="{ 'background-image': 'url( ' + ( peliculas[3] | imgmdb )+ ')'  }">
            </div>
            <div class="col-sm-6 div-pic-2 puntero" [routerLink]="['/datospelicula',peliculas[4].id]" [ngStyle]="{ 'background-image': 'url( ' + ( peliculas[4] | imgmdb )+ ')'  }">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 div-pic-1 puntero" [routerLink]="['/datospelicula',peliculas[5].id]" [ngStyle]="{ 'background-image': 'url( ' + ( peliculas[5] | imgmdb )+ ')' }">
            </div>
        </div>
    </div>
</div>