<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item mr-3">
                <button type="button" name="" id="" class=" btn btn-outline-success btn-block" [routerLink]="[home]">Home</button>
            </li>
            <li class="nav-item mr-3">
                <button type="button" name="" id="" class=" btn btn-outline-success btn-block" [routerLink]="['buscar','']">Buscar</button>
            </li>
            <li class="nav-item mr-3">
                <button type="button" name="" id="" class=" btn btn-outline-success btn-block" [routerLink]="['vistas']">Mis peliculas</button>
            </li>

        </ul>
        <div class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2 " type="text " placeholder="Buscar pelicula" #buscarTexto (keyup.enter)="buscar(buscarTexto.value)">
            <a name="" id="" class="btn btn-outline-success my-2 my-sm-0 text-white" role="button" (click)="buscar(buscarTexto.value)">Buscar</a>
            <!-- <button class="btn btn-outline-success my-2 my-sm-0 " type="submit" (onclick)="buscar(buscarTexto.value)">Buscar</button> -->
        </div>
    </div>
</nav>