<div *ngIf="peliculasEstrenos.length>2">
    <app-galeria titulo="Estrenos de la semana" [peliculas]="peliculasEstrenos | slice:0:6"></app-galeria>
</div>

<div *ngIf="peliculasPopulares.length>2">
    <app-galeria titulo="Top mundiales" [peliculas]="peliculasPopulares | slice:0:6"></app-galeria>
</div>

<div *ngIf="peliculasNinos.length>2">
    <app-galeria titulo="Top para niños " [peliculas]="peliculasNinos | slice:0:6"></app-galeria>
</div>

<h1>
    Estrenos de la semana
</h1>

<hr>

<div class="card-deck border-0">
    <span *ngFor="let item of peliculasEstrenos">
    <app-pelicula [datosPelicula]=item [detalle]="false"></app-pelicula>
  </span>
</div>

<h1>
    Peliculas mas populares
</h1>
<hr>

<div class="card-deck border-0">
    <span *ngFor="let item of peliculasPopulares">
    <app-pelicula [datosPelicula]=item></app-pelicula>
  </span>
</div>

<h1>
    Peliculas mas populares para niños
</h1>
<hr>
<div class="card-deck border-0">
    <span *ngFor="let item of peliculasNinos">
    <app-pelicula [datosPelicula]=item></app-pelicula>
  </span>
</div>