<h1>Heroes</h1>
<hr>
<div class="row">
    <div class="col-md-12 text-right">
        <button type="button" name="" id="" class="btn btn-outline-primary" btn-lg btn-block [routerLink]="['/heroe','nuevo']" routerLinkActive="router-link-active">Nuevo</button>
    </div>
</div>

<div class="row mt-3 animated fadeIn">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Casa</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>

                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>